services:
  db:
    image: postgres:16-alpine
    container_name: postgres_db
    restart: unless-stopped    # 修改为：除非手动停止，否则自动重启
    environment:
      POSTGRES_USER: ${PGSQL_USER}        # 用户名
      POSTGRES_PASSWORD: ${PGSQL_PASSWORD} # 密码
      POSTGRES_DB: postgres        # 默认数据库名
      TZ: Asia/Shanghai            # 时区设置
    ports:
      - "5432:5432"            # 主机端口:容器端口
    volumes:
      - ${PGSQL_DATA_PATH:-.}/data:/var/lib/postgresql/data # 数据持久化
    networks:
      - pg-network

networks:
  pg-network:
    driver: bridge